<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-chip>
  <ion-label>Default</ion-label>
</ion-chip>

<ion-chip color="primary">
  <ion-label color="dark">warning w/ Dark label</ion-label>
</ion-chip>

<ion-chip [disable]="true">
  <ion-label>disable chip</ion-label>
</ion-chip>

<ion-chip>
  <ion-icon name="pin"></ion-icon>
  <ion-labe>Default</ion-labe>
</ion-chip>

<ion-chip>
  <ion-icon name="heart" color="danger"></ion-icon>
  <ion-label>Default</ion-label>
</ion-chip>

<ion-chip>
  <ion-icon name="pin" color="primary"></ion-icon>
  <ion-label>Icon Chip</ion-label>
  <ion-icon name="close"></ion-icon>
</ion-chip>

<ion-chip>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>Avatar chip</ion-label>
  <ion-icon name="close-circle"></ion-icon>
</ion-chip>
</ion-content>
